.root {
  -fx-not-achieved: #ffd700;
  -fx-achieved:     #adff2f;
  -fx-exceeded:      #87cefa;
}

.default-color0.chart-bar { -fx-bar-fill: -fx-not-achieved; }
.default-color1.chart-bar { -fx-bar-fill: -fx-achieved; }
.default-color2.chart-bar { -fx-bar-fill: -fx-exceeded; }